.header_content,.header_links,.dropdown_info,.dropdown_documenty,.dropdown_zayavki,.dropbtn_info,.dropbtn_documenty,.dropbtn_zayavki,.dropdown_content_info,.dropdown_content_documenty,.dropdown_content_zayavki,.dropdown_content_zadoljennosti,.vakansii,.footer{
  	background-color: #026fb2;
    color: white;
	overflow:auto;
	border:none;
}
.header_content,.header_links{
    margin-left:-180px;
    margin-right:-8px;
}
.header_content{
	margin-top:0px;
    height:180px;
}
.header_links{
	font-size:30px;
	margin-top:-20px;
	text-align:center;
}
.header_info{
    font-size:40px;
    margin-left: 450px;
    margin-top:-60px;
}
a{
	color:#ffff;
	font-size:15px;
}
a.ooo{
	margin-left:70px;
}
a.vk{
	float:center;
}
.norma_facty,.zacon_acty,.federal_zacony,.title{ 
    text-align:justify;
    color:#026fb2;
}
.h1,.h2,.h3,.h4{
	margin-top:20px;
	float:right;
	color:#ffffff;
	margin-right:20px;
	background-color:#026fb2;
}
.h1{
	margin-left:250px;
	margin-top:-30px;
}
.h2{
	margin-top:-12px;
	margin-right:-375px;

}
.h3{
	margin-top:10px;
	margin-right:-375px;
}
.h4{
	font-size:20px;
	margin-top:30px;
	margin-right:-375px;
}
img.logo{
	height:80;
    margin-top:-2px;
    margin-left:180px;
}
.dropdown_info,.dropdown_documenty,.dropdown_zayavki,.dropdown_zadoljennosti {
	display:inline-block;
	margin-top:-80px;
	box-shadow:none; font-size:10px;
}
.dropdown_documenty{
	margin-left:20px;
}
.dropdown_content_info,.dropdown_content_documenty,.dropdown_content_zayavki,.dropdown_content_zadoljennosti{ 
    transition:opacity 1s;
    z-index:1;
    border-top: 2px solid white;
    margin-top:0px;
	text-decoration: underline; 
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown_content_info a,.dropdown_content_documenty a,.dropdown_content_zayavki a,.dropdown_content_zadoljennosti a{
	color:white;
	padding:16px,2px;
	text-decoration:none;
	display:block;
}
 .dropdown_info:hover .dropdown_content_info,.dropdown_documenty:hover .dropdown_content_documenty,.dropdown_zayavki:hover .dropdown_content_zayavki,.dropdown_zadoljennosti:hover .dropdown_content_zadoljennosti{
    opacity:1;
    background-color: #fffff;
	display: block;
}
.dropdown_content_info a:hover,.dropdown_content_documenty a:hover,.dropdown_content_zayavki a:hover,.dropdown_content_zadoljennosti a:hover{
    background-color: #025A8F;
}
.dropbtn_info,.dropbtn_documenty,.dropbtn_zayavki,.dropbtn_zadoljennosti{
    color:#ffff;
    background-color: #026fb2;
    font-size: 16px;
    padding:6px 20px;
    border: none;
    cursor: pointer;
 }
.dropbtn_documenty{
	margin-left:-10px;
} 
.vakansii{
    margin-left:6px;
}

.dropbtn_zadoljennosti{
    margin-top:-10px;
}
.dropdown_content_zadoljennosti{
    margin-top:0px;
}
.dropdown_content_info.show,.dropdown_content_documenty.show,.dropdown_content_zayavki.show,.dropdown_content_zadoljennosti.show{
    display:block;
    opacity:1;
    visibility:visible;
}
.body_content{
    height:400px;
}
.news_div1,.news_div2,.news_div3,.news_div4,.news_div5{
	margin-top:100px;
	width:400px;
	height:300px;
	color:#fff;
}
.news_div1{
	background:#ff8c00;
}
.news_div2{
	background:linear-gradient(blue,white);

}
.map{
    margin-top:20px;
    margin-left:400px;
}

.footer{
    height:60px;
    margin-top:260px;
     margin-bottom:-8px; 
    pointer:bottom;
    margin-right:-8px;
    margin-left:-8px;
}
